<html>
       <head>
           <title>Drew's blog</title>
       </head>
       <body>
           <div>
               <h1><a href="">Drew's Blog</a></h1>
           </div>

           <div>
               <p>published: 30.09.2016, 13:29</p>
               <h2><a href="">My first post</a></h2>
               <p>Во-первых, давай посмотрим, какие файлы были изменены с момента последнего развертывания (выполни эти команды локально, не на PythonAnywhere):

$ git status

Убедись, что находишься в директории djangogirls и сообщи git выбрать все изменения в пределах папки:

$ git add --all .

    Примечание: -A (сокращение от "all" - "все") означает, что git также обратит внимание на удаленные файлы (по умолчанию, он отслеживает новые/измененные файлы). Также помни (из третьей главы), что . означает текущую директорию.

Прежде чем мы загрузим файлы, давай проверим, что именно git будет загружать (все файлы, который git готов отправить на сервер отмечаются шрифтом зеленого цвета):

$ git status

Мы почти у цели, пришло время сохранить изменения в истории. К сохраняемой версии мы приложим небольшое сообщение, в котором кратко опишем изменения. Можешь набрать в качестве сообщения все что захочешь, однако, полезно использовать информативную запись, так будет проще вспомнить внесенные изменения в будущем.

$ git commit -m "Changed the HTML for the site."

    Примечание: Убедись, что используешь двойные кавычки вокруг комментария.

После того, как мы сделали это, мы загрузим (заpush'им) изменения на Github:

git push</p>
           </div>

           <div>
               <p>published: 30.09.2016, 13:30</p>
               <h2><a href="">My second post</a></h2>
               <p>    Открой вкладку "терминалы" на PythonAnywhere и переключись на уже запущенную консоль Bash (или новую). Затем набери следующую команду:

$ cd ~/my-first-blog
$ source myvenv/bin/activate
(myvenv)$ git pull
[...]
(myvenv)$ python manage.py collectstatic
[...]

Можешь обратить внимание как твой код будет загружаться на сервер. Если хочешь проверить успешность процедуры - открой вкладку Файлы и просмотри свой код на PythonAnywhere.

    Наконец, переключись на вкладку Web и нажми кнопку Reload.

Обновления должны отобразиться на веб-сайте! Переключись на него и обнови страницу. Ты должна сразу заметить улучшения :)</p>
           </div>
       </body>
   </html>
